bin/Debug/netcoreapp3.1/dio.series.deps.json
bin/Debug/netcoreapp3.1/dio.series.dll
bin/Debug/netcoreapp3.1/dio.series.exe
bin/Debug/netcoreapp3.1/dio.series.pdb
bin/Debug/netcoreapp3.1/dio.series.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/dio.series.runtimeconfig.json
obj/dio.series.csproj.nuget.dgspec.json
obj/dio.series.csproj.nuget.g.props
obj/dio.series.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/dio.series.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/dio.series.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/dio.series.assets.cache
obj/Debug/netcoreapp3.1/dio.series.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/dio.series.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/dio.series.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/dio.series.dll
obj/Debug/netcoreapp3.1/dio.series.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/dio.series.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/dio.series.pdb
